<app-header
  [title]="pokemon?.name"
  [backUrl]="'/tabs'"></app-header>
<ion-content
  [fullscreen]="true"
  [ngStyle]="{'--background' : 'var(--'+ pokemon?.type +')'}">
  <ion-icon class="pokeball-icon"
            [src]="'assets/icon/pokeball.svg'">
  </ion-icon>
  <div class="d-flex flex-column h-100">
    <div class="top">
    </div>
    <div class="bottom">
      <app-image-with-loader
        [image]="pokemon?.image"
        [alt]="pokemon?.name"
        [height]="'100'"
        [width]="'192'"
      ></app-image-with-loader>
      <div class="bottom-content">
        <div class="d-flex ion-justify-content-center" style="gap:15px">
          <ion-badge
            *ngIf="pokemon?.types.length"
            [ngStyle]="{'background' : 'var(--'+ pokemon?.types[0].type.name +')'}">
            {{pokemon?.types[0]?.type?.name}}
          </ion-badge>
          <ion-badge
            *ngIf="pokemon?.types.length > 1"
            [ngStyle]="{'background' : 'var(--'+ pokemon?.types[1].type.name +')'}">
            {{pokemon?.types[1]?.type?.name}}
          </ion-badge>
        </div>
        <ng-container>
          <span class="about"
                [ngStyle]="{'color' : 'var(--'+ pokemon?.types[0].type.name +')'}">
            About
          </span>
          <ng-container>
            <div class="d-flex ion-justify-content-center gap-10 middle">
              <div class="d-flex flex-column ion-align-items-center w-100 gap-10">
              <span class="d-flex ion-align-items-center pokemon-detail-value gap-5">
                <ion-icon src="assets/icon/weight.svg"></ion-icon>
                {{pokemon?.weight}} kg
              </span>
                <small>Weight</small>
              </div>
              <div class="d-flex flex-column ion-align-items-center w-100 gap-10">
               <span class="d-flex ion-align-items-center pokemon-detail-value gap-5">
                <ion-icon src="assets/icon/height.svg"></ion-icon>
                 {{pokemon?.height}} m
               </span>
                <small>Height</small>
              </div>
              <div class="d-flex flex-column ion-align-items-center w-100 gap-10">
                 <span class="d-flex ion-align-items-center ion-text-center pokemon-detail-value gap-5">
                 {{pokemon?.moves[0]?.move?.name | titlecase}},{{pokemon?.moves[1]?.move?.name | titlecase}}
               </span>
                <small>Moves</small>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container>
          <div>
            <p *ngIf="(pokemonDescription$ | async) as description else descriptionLoading" class="description"
               [innerHTML]="description"></p>
            <ng-template #descriptionLoading>
              <ion-label>
                <p>
                  <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text [animated]="true" style="width: 60%;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text [animated]="true" style="width: 85%;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
                </p>
              </ion-label>
            </ng-template>
          </div>
        </ng-container>
        <ng-container>
          <span class="about"
                [ngStyle]="{'color' : 'var(--'+ pokemon?.types[0].type.name +')'}">
            Base Stats
          </span>
          <div class="stats ion-align-items-center">
            <div class="left" [ngStyle]="{'color' : 'var(--'+ pokemon?.types[0].type.name +')'}">
              <span>HP</span>
              <span>ATK</span>
              <span>DEF</span>
              <span>SATK</span>
              <span>SDEF</span>
              <span>SPD</span>
            </div>
            <div class="stats-value flex-column d-flex w-100">
              <div *ngFor="let stat of pokemonStats; trackBy: trackByName">
                <ion-text class="gap-25 d-flex ion-align-items-center">{{stat?.value}}
                  <div class="progress">
                    <div
                      [ngStyle]="{'background' : 'var(--'+ pokemon?.types[0].type.name +')'}"
                      class="stat-value"
                      [attr.max]="350"
                      [attr.done]="stat?.value">
                    </div>
                  </div>
                </ion-text>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</ion-content>
