ion-content {
  --padding-start: 6px;
  --padding-end: 6px;
}

.bottom {
  background: #FFFFFF;
  border-radius: 8px;
  height: 100%;
  flex: 4;
  position: relative;

  img {
    width: 12rem;
    height: 12rem;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -70%);
  }
}

.top {
  flex: 1
}

ion-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
}

.pokeball-icon {
  position: absolute;
  right: 10px;
  width: 13rem;
  height: 13rem;
  top: 10px;
  opacity: .1;
  z-index: -1;
}

.bottom-content {
  position: relative;
  top: 60px;
}

ion-badge {
  border-radius: 10px;
  padding: 5px 10px;
}
